.display
    width: 100%
    padding: .25rem
    margin-bottom: 1.5rem
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

.field
    width: 55%
    border: solid .5px #D0D0D0
    border-radius: 10%